$realBlack: rgb(0, 0, 0);
$realWhite: rgb(255, 255, 255);
$orange: #ff9600;
$lightGrey: #9b9b9b;
$grey: #6e6e6e;

$backgroundBlue: #e3efff;
$backgroundLightBlue: #f7faff;
$backgroundRed: #ff0000;
$backgroundGreyTransparent: rgba(238, 245, 255, 0.8);
