@import './colors.scss';

@import url(https://allfont.ru/allfont.css?fonts=agaalenbold-roman);


@mixin title() {
  font-family: "AGAalenBold Roman", arial;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.375rem;
}


@mixin linkBurgerMenu() {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.375rem;
}