@import './colors.scss';

@font-face {
	font-family: "AGAalenBold Roman";
	src: url("../../assets/fonts/agaalenbold-roman.eot"); /* IE9 Compat Modes */
	src: url("../../assets/fonts/agaalenbold-roman.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../../assets/fonts/agaalenbold-roman.otf") format("opentype"), /* Open Type Font */
		url("../../assets/fonts/agaalenbold-roman.svg") format("svg"), /* Legacy iOS */
		url("../../assets/fonts/agaalenbold-roman.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../../assets/fonts/agaalenbold-roman.woff") format("woff"), /* Modern Browsers */
		url("../../assets/fonts/agaalenbold-roman.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@mixin title() {
  font-family: "AGAalenBold Roman", arial;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.375rem;
}


@mixin linkBurgerMenu() {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.375rem;
}